.home-component {
    padding-top:80px;
}
.left-space-item
{
    min-height:40px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-bottom:2px;
}
.left-space-item-name
{
    font-size:12px;
    font-weight:500;
}
.left-space-item-active
{
    background-color:#ebdddd;
    border-radius: 3px;
    color:#b92b27;
    font-weight: 500;
}
.extra-list>li::before
{
    content:'\2022  '
}
.home-question-asker
{
    box-shadow: 0px 0px 3px 1px rgb(230, 230, 230);
    border-radius: 2px;
    cursor:pointer;
}