.navbar-container {
	box-shadow: 0px 0px 5px 1px rgb(209, 209, 209);
}
.user-image-round {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.fa-globe {
	font-size: 25px;
}
.add-question-button > button {
	border-radius: 50px;
	width: 130px;
    background-color: #b92b27;
    font-size:12px;
}
.add-question-button > button:hover {
	background-color: #971f1b;
}
.nav-link-icon {
	font-size: 20px;
}
.horizontal-line {
	display: none;
}
@media screen and (max-width: 1200px) {
	.nav-link-icon {
		display: none !important;
	}
}
@media screen and (max-width: 992px) {
	.nav-link-icon {
		display: block !important;
	}
	.nav-link-custom-properties {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.horizontal-line {
		display: block;
    }
    .navbar-search-input
    {
        width:75% !important;
    }
}
@media screen and (max-width:576px)
{
    .navbar-search-input
    {
        width:100% !important;
    }
}
#navbarSupportedContent {
	overflow-wrap: none;
	word-wrap: none;
}
.fa-globe {
	color: rgb(46, 46, 46);
}
.dropdown-menu>a:hover
{
    background-color:#e0e0e0;
}