.notification-container
{
	padding-top: 80px;
}
.notification-left-flex-item:hover
{
    color:#4727b9;
    background-color:#d8d6f7;
    cursor:pointer;
}
.notification-left-active
{
    font-weight: 500;
    color:#b92b27;
    background-color:#fde5e5;
    cursor:pointer;
}
.head-notif
{
    font-weight: 500;
    color:rgb(53, 53, 53);
}
.head-notif-set
{
    font-size:13px;
}
.few-notifications-menu
{
    width:max-content !important;
    cursor:pointer;
}
.few-notifications-menu>a
{
    text-decoration:none;
    color:black;
}