.profile-component
{
    padding-top:70px;
}
.font-12
{
    font-size: 12px;
}
.font-13
{
    font-size: 13px;
}
.font-14
{
    font-size: 14px;
}
.font-15
{
    font-size: 15px;
}
.font-16
{
    font-size: 16px;
}
.font-17
{
    font-size: 17px;
}
.font-18
{
    font-size: 18px;
}
.font-19
{
    font-size: 19px;
}
.font-20
{
    font-size: 20px;
}
.profile-nav>div:hover
{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
.cursor-pointer
{
    cursor:pointer;
}
.ghost-link
{
    color:inherit;
}
.ghost-link:hover
{
    text-decoration:none;
    color:inherit;
}
.curved-button
{
    border-radius: 100px;
}
.bordered
{
    border:1px solid rgb(221, 221, 221);
    border-radius: 7px;
}
.follow-button
{
    color:#2e69ff;
    background-color:#ebf0ff;
    border:1px solid #c1d0ff;
}
.follow-button:hover
{
    color:#2e69ff;
    background-color:#d1dbfa;
}