.profile-component
{
    padding-top:70px;
}
.profile-nav>div:hover
{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
.bordered
{
    border:1px solid rgb(221, 221, 221);
    border-radius: 7px;
}
